*{
    background: darkslategrey;
}
.sqr{
    display: inline-block;
    min-width: 40px;
    min-height: 40px;
    text-align: center;
    align-content: center;
    justify-content: center;
}
.B{
    background: black;
    color: white;
}
.W{
    background: white;
    color: black;
}
#game_board{
    border: 2px dashed red;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: auto;
    width: 320px;
    height: 320px;
}